.App {
  text-align: center;
  background-color: #012c83;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  color: #ffcc00;
  margin-top: 20px;
}

h1, h2, h3, p {
  font-family: 'Press Start 2P', cursive;
}
